@charset "UTF-8";

/*global*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  background: #FFEBE4;
  color: #707070;
    color: #656565;
  font: normal 400 1.5em/1.5 "Lato", Arial, serif;
  font-weight:300;


  cursor: default;
  position: relative;
  min-height: 100%;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(113, 239, 172, .5);
}

body {
  margin-bottom: 4.5rem;
}

.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
    max-width:1300px;
    display:block;
    margin:auto;
}


article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

::-moz-selection {
  background: #000000;
}

::selection {
  background: #FFEBE4;
}

.grid {
  font-size: 0;
}

.grid.gutter-1 {
  margin-left: -1.375rem;
  margin-right: -1.375rem;
  padding:0;
}

.grid.gutter-1 .column {
  padding-left: .375rem;
  padding-right: .375rem;
}

.column {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
  margin:auto;
}

.wrap {
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: .75rem;
  padding-right: .75rem;
  max-width: 36rem;
  font-size:.85em;
}

.wrap.wide {
  max-width: 48rem;
}

/*type*/

h1, h2, h3, h4 {
font-family: 'Montserrat', sans-serif;
font-variant-caps:all-small-caps;
  font-weight: 100;
    text-align:left;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: .5em;
    font-family:'Lato';
    font-variant-caps:normal;
}

h2 {
    font-size:.9em;
    font-weight:400;
    margin-top:0em;
    font-family:'Lato';
    font-variant-caps:normal;
}

h4 {
  font-size: 1em;
  font-variant-caps:all-small-caps;
  letter-spacing:.1em;
  margin:3em auto .5em auto;
  padding:0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #FF0000;
}

a:hover, a:focus, a:active {
  color: #FF0000;
}


mark {
  padding: .1em .05em;
  margin: -.1em 0;
  color: #261e66;
  background: #eafded;
}

/*images*/

.thankyou {
    display:block;
margin:auto;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
}

.imgsmall {
  width:40%;
  margin:0 auto 0 auto;
  padding:.5em;
}

/*projectcontent*/

.container {
  height:500px;
  width:100%;
  margin-top:3em;
    margin-bottom:5em;
}

.projectimg {
  margin:2rem 0 .5rem 0;
}

.headerimg {
    margin:0 0 3em 0;
}


.imgfloat {
  float:left;
  width:50%;
  height:100%;
    text-align:center;
}

.imgfloat img {
  height:500px;
  width:auto;
  display:block;
  margin:0 auto 0 auto;
}

.intro {
  margin-bottom: 2rem;
}

.aboutintro {
    margin-top:1em;
    font-size:1.2em;
}

.abouttitle {
    font-size:2.5em;
    font-family:'Lato';
    font-variant-caps:normal;
    margin-top:0em;
    
}

.label {
    margin-bottom:1em;
}


.textfloat {
  width:50%;
  float:left;
  position: relative;
    text-align:center;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    text-align:left;
}

.flexible_container {
height:auto;
  width:100%;
  margin-top:0em;
    margin-bottom:0em;
}

.projectintro {
  width:50%;
  float:left;
    text-align:left;
    padding:0 4em 0 0;
}

.projectinfo {
  width:40%;
  float:right;
    text-align:left;
}

.containerprocess {
  height:auto;
  width:100%;
  line-height:1.5em;
  text-align:left;
  font-size:.75rem;
  margin-bottom:0;
}

.textprocess {
  width:50%;
  float:left;
  display:block;
  margin:0 auto 0 auto;
  padding:2em 0em 0 3em;
  position: relative;
  text-align:left;
  font-size:.8em;
  line-height:1.5em;
}

.smalltext {
  font-size:.8em;
  line-height:1.5em;
}

.textcontainer {
  width:100%;
  margin:0 auto 0 auto;
  text-align:center;
  padding:0 auto 0 auto;
    text-align:left;
}

.prototype {
  width:300px;
  height:auto;
}

.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}




@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}


/*showcase*/

.showcase {
  position: relative;
  padding:0;
  margin:0;
}

.showcase-item {
  list-style: none;
  margin-bottom: .75rem;
  position: relative;
}


.showcase-link {
  display: block;
  position: relative;
  padding-top: 100%;
  z-index: 0;
  border-bottom: 0;
}

.showcase-caption {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: rgba(255, 235, 228, .85);
  color: #707070;
  letter-spacing: .05em;
  opacity: 0;
  -webkit-transition: .25s opacity;
  transition: .25s opacity;
  will-change: opacity;

}

.showcase-title {
  margin-bottom: 0;
  text-align: center;
  text-align: center;
  width: 100%;
  padding: 0 1.5rem;
  position: absolute;
    line-height:1em;
    font-family:"Lato", sans-serif;
    font-variant-caps: normal;
    font-weight:400;
    line-height:1.3em;
      top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.showcase-type {
    margin-bottom: 0;
    margin-top:1em;
  text-align: center;
  width: 100%;
  padding: 0 1.5rem;
    font-variant-caps: all-small-caps;
    line-height:1em;
    font-family:"Montserrat", sans-serif;
    font-size:.8em;

}

.showcase-image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.showcase-link:hover .showcase-caption,
.showcase-link:focus .showcase-caption {
  opacity: 1;
}


/*HEADER*/


.header {
  padding-top: 1.5rem;
}

.branding {
  text-align: center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: 0rem;

}

.branding img {
    width:450px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.branding a {
  border-bottom: 0;
}

/*MENU*/

.menu {
  text-align: center;
  display:block;
  margin:2rem auto 0 auto;
  width:100%;
  font-family:"Montserrat", sans-serif;
    font-variant:small-caps;
    letter-spacing:.3em;
  font-size:.75em;
    position:relative;
    left:.8em;
}

.menu-item {
  display: inline-block;
  text-align:center;
}

.menu-item:not(:last-child)::after {
  content: "   ";
  display: inline-block;
  font-size: .75em;
  color: #a8a5be;
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  color: #FF0000;
}

/*FOOTER*/


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-size: .875rem;

}

.footer p {
  margin-bottom: 0;
}

.footer a {
  border-bottom: 0;
}

.footer-copyright {
  display: block;
  font-family:"Lato", sans-serif;
  margin-top:1em;
  font-size:.7em;

}